.indent {
    margin-left: 20px;
}

.color {
    color: red;
    font-size: 20px;
}


.btn-news {
    margin-left: 1100px;
    height: 50px;
    width: 120px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #1E90FF;
    color: white;
    border-radius: 3px;
}

.font {
    font-size: 20px;
}
